* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header.header ul {
  display: flex;
  list-style: none;
  width: 100%;
  overflow-x: auto;
}

header.header ul li {
  padding: 10px;
}